<div class="user-history-container" layout="row" ng-if="shouldDisplay()">
  <div class="buttons-container" flex layout="column">
    <div class="row" layout="row">
      <span class="username">{{capitalize(session.selectedUser)}}</span>
      <span flex></span>
      <md-button class="close-button" ng-click="close()" aria-label="Close">
        <md-tooltip md-autohide>Close</md-tooltip>
        <i class="zmdi zmdi-close"></i>
      </md-button>
    </div>
  </div>
  <div class="history-container">
    <chat-output channel="channel"></chat-output>
  </div>
</div>

<md-divider ng-if="shouldDisplay()"></md-divider>